NEXT_PUBLIC_SITE_URL=https://nibbles-gamma.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_3tm35ccd
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xEeaCaBf5B02E57417F8Db05fBF23180a90b2840B
